<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->
doctype html
html(lang="en")
  link(rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  link(rel="stylesheet" href="/style.css")
  link(href="https://fonts.googleapis.com/css?family=Muli&effect=3d" rel="stylesheet")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  script(src='https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js')
  head
    title PinClone
body
  div(class='well')
    h1 PinClone
      a(href="https://pinclone.glitch.me/user/signin/callback" id="login") Login with Github!
        img(src="http://www.toca-ch.com/data/walls/315/35434622.png" style={"width":"20px", "margin-left": "5px"})
  div(class='grid')
    div(class="grid-item")
      img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Cat03.jpg/1200px-Cat03.jpg")
    div(class='grid-item') 
      img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Cat03.jpg/1200px-Cat03.jpg")
    div(class="grid-item") 
      img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Cat03.jpg/1200px-Cat03.jpg")
    div(class="grid-item") 
      img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Cat03.jpg/1200px-Cat03.jpg")
    